configuration {
	modi:  "window,run,ssh,combi";
	theme: "Arc-Dark";
        font:  "hack 10";
        combi-modi:  "window,run,ssh";
	icon-theme:  "~/local/share/icons/Tela-dark";
	icon-size:   "10px 10px";
}

window {
	border-color: "Coral";
	width: "60";
	height:"50";
}

